<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73629253027-qh8l873mhpto2tdnhm1c5uj23n5hik66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73629253027-qh8l873mhpto2tdnhm1c5uj23n5hik66</string>
	<key>API_KEY</key>
	<string>AIzaSyBkONDell6lekc_Bj0Oyn9NK3mcy92r7IU</string>
	<key>GCM_SENDER_ID</key>
	<string>73629253027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angularfirebase.ionFire</string>
	<key>PROJECT_ID</key>
	<string>ionfire-ae728</string>
	<key>STORAGE_BUCKET</key>
	<string>ionfire-ae728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73629253027:ios:0579cf9045f36efc5a2e16</string>
</dict>
</plist>